dbVendor=mysql
dbConnectString=dbi:mysql:rtraborn_orthomcl3:mysql_local_infile=1:sasrdsmp01.uits.iu.edu:3306
dbLogin=rtraborn_orthomcldp
dbPassword=DaphniaPulex19\#\
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
percentMatchCutoff=50
evalueExponentCutoff=-5
oracleIndexTblSpc=NONE